################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CookieRecept/scss
/CookieRecept/www/views/app/profile
